@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-way-100: #265BD1;
  --primary-way-90: #3B6DD7;
  --primary-way-80: #507EDD;
  --primary-way-70: #658FE3;
  --primary-way-60: #7A9FE8;
  --primary-way-50: #90AFED;
  --primary-way-40: #A5BFF1;
  --primary-way-30: #BBCFF5;
  --primary-way-20: #D1DFF9;
  --primary-way-10: #E8EFFC;
  --primary-way-5: #F7F9FE;
  --secondary-db-100: #0D1218;
  --secondary-db-90: #282C32;
  --secondary-db-80: #43474B;
  --secondary-db-70: #565A5E;
  --secondary-db-60: #797B7F;
  --secondary-db-50: #939698;
  --secondary-db-40: #AEB0B2;
  --secondary-db-30: #C9CACC;
  --secondary-db-20: #CFD0D1;
  --secondary-db-5: #F3F3F3;
  --primary-light: #F7FAFF;
  --new-bg: #E67224;
  --save-bg: #5641F3;
  --menu-bg: #F7FAFF;
  --tertiary-cyan-500: #24B7FD;
  --tertiary-orange-500: #FF7920;
  --tertiary-orange-100: #FFF1E8;
  --tertiary-orange-dark: #3D2B21;
  --tertiary-green-500: #01A04E;
  --tertiary-green-100: #E5F5ED;
  --tertiary-green-dark: #0A2E23;
  --tertiary-voilet-500: #7531F9;
  --tertiary-voilet-100: #F1EAFE;
  --tertiary-voilet-dark: #211842;
  --tertiary-cyan-100: #E9F7FE;
  --tertiary-cyan-dark: #112C3C;  
  --shadow-color: black;
  --tertiary-blue-500: #006AFF;
  --tertiary-blue-100: #ECF6FF;
  --tertiary-vivid-blue-500: #182DEE;
  --tertiary-vivid-blue-100: #E8EAFD;
  --section-bg : #ECF6FF;
  --gold: #FFCD00;
}


body {
  color: var(--foreground);
}

@theme {
  --color-shadow-color: var(--shadow-color);
  --color-secondary-db-100: var(--secondary-db-100);
  --color-secondary-db-90: var(--secondary-db-90);
  --color-secondary-db-80: var(--secondary-db-80);
  --color-secondary-db-70: var(--secondary-db-70);
  --color-secondary-db-60: var(--secondary-db-60);
  --color-secondary-db-50: var(--secondary-db-50);
  --color-secondary-db-40: var(--secondary-db-40);
  --color-secondary-db-30: var(--secondary-db-30);
  --color-secondary-db-20: var(--secondary-db-20);
  --color-secondary-db-5: var(--secondary-db-5);
  --color-primary-way-100: var(--primary-way-100);
  --color-primary-way-90: var(--primary-way-90);
  --color-primary-way-80: var(--primary-way-80);
  --color-primary-way-70: var(--primary-way-70);
  --color-primary-way-60: var(--primary-way-60);
  --color-primary-way-50: var(--primary-way-50);
  --color-primary-way-40: var(--primary-way-40);
  --color-primary-way-30: var(--primary-way-30);
  --color-primary-way-20: var(--primary-way-20);
  --color-primary-way-10: var(--primary-way-10);
  --color-primary-way-5: var(--primary-way-5);
  --color-tertiary-blue-500: var(--tertiary-blue-500);
  --color-tertiary-blue-100: var(--tertiary-blue-100);
  --color-tertiary-cyan-500: var(--tertiary-cyan-500);
  --color-tertiary-cyan-100: var(--tertiary-cyan-100);
  --color-tertiary-cyan-dark: var(--tertiary-cyan-dark);
  --color-tertiary-vivid-blue-500: var(--tertiary-vivid-blue-500);
  --color-tertiary-vivid-blue-100: var(--tertiary-vivid-blue-100);
  --color-new-bg: var(--new-bg);
  --color-save-bg: var(--save-bg);
  --color-menu-bg: var(--menu-bg);
  --color-tertiary-orange-500: var(--tertiary-orange-500);
  --color-tertiary-orange-100: var(--tertiary-orange-100);
  --color-tertiary-orange-dark: var(--tertiary-orange-dark);
  --color-tertiary-green-500: var(--tertiary-green-500);
  --color-tertiary-green-100: var(--tertiary-green-100);
  --color-tertiary-green-dark: var(--tertiary-green-dark);
  --color-tertiary-voilet-500: var(--tertiary-voilet-500);
  --color-tertiary-voilet-100: var(--tertiary-voilet-100);
  --color-tertiary-voilet-dark: var(--tertiary-voilet-dark);
  --color-gold: var(--gold);
  --color-section-bg: var(--section-bg);
  --font-sans: 'Hanken Grotesk', sans-serif;
}

.badge-tertiary-orange-500 {
  background-color: #E67224;
  box-shadow: 
    inset 0 -4px 4px rgba(255, 255, 255, 0.23),
    0 4px 8.6px rgba(255, 255, 255, 0.07);
}

.badge-blue {
  background-color: #5641F3;
  box-shadow: 
    inset 0 -4px 4px rgba(255, 255, 255, 0.23),
    0 4px 8.6px rgba(86, 65, 243, 0.07);
}

.button-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.menu-shadow {
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
}

.join-shadow {
  width: 743px;
  height: 168px;
  box-shadow: inset 0px -24px 33px rgba(255, 255, 255, 0.25);
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-y: scroll; /* Ensures layout consistency */

}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.products-menu {
  transform-origin: top;
}

.product-cta {
  background-color: rgba(38, 91, 209, 0.19);
}

.blog-preview {
  background-color: rgba(117, 49, 249, 0.2);
}

.menu-text {
  color: rgba(34, 34, 34, 0.7);
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* scrollbar thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* scrollbar thumb */
  border-radius: 9999px; /* rounded scrollbar */
}

.no-scrollbar {
  -ms-overflow-style: none;        /* IE 10+ and old Edge */
  scrollbar-width: none;           /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { /* Chrome, Safari, new Edge */
  width: 0 !important;
  height: 0 !important;
}

html, body {
  overflow-x: hidden;
}

@keyframes line-shadow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.after\:animate-line-shadow::after {
  animation: line-shadow 7s linear infinite;
}

.bg-dots {
  background-color: #0D1218; 
  background-image: radial-gradient(#ffffff80 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.bg-tool-brief {
  background-color: #E8EFFC; 
  background-image: radial-gradient(#000000 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.gray-bg-dots {
  background-color: #0D1218; 
  background-image: radial-gradient(#797B7F80 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.error-bg-dots {
  background-color: white; 
  background-image: radial-gradient(#507EDD 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.tertiary-orange-500-bg-dots {
  background-color: rgba(249, 119, 49, 0.1); 
  background-image: radial-gradient(#43474B 0.25px, transparent 1px);
  background-size: 25px 25px;
}

.blue-bg-dots {
  background-color: #265BD1; 
  background-image: radial-gradient(#ffffff80 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.purple-bg-dots {
  background-color: #F1EAFE50; 
  background-image: radial-gradient(#797B7F 0.25px, transparent 1px);
  background-size: 25px 25px; 
}

.shake-hover {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.shake-hover:hover {
  animation: coffee-shake 0.5s ease-in-out;
}

@keyframes coffee-shake {
  0% {
    transform: rotate(0deg) skew(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(10deg) skew(3deg) translate(4px, 0);
  }
  40% {
    transform: rotate(16deg) skew(4deg) translate(4px, -2px);
  }
  60% {
    transform: rotate(14deg) skew(2deg) translate(2px, 0);
  }
  80% {
    transform: rotate(13deg) skew(2deg) translate(2px, -1px);
  }
  100% {
    transform: rotate(0deg) skew(0deg) translate(0, 0);
  }
}

@keyframes springUp {
  0% {
    transform: translateY(18px) scale(0.985);
    opacity: 0;
  }
  60% {
    transform: translateY(-8px) scale(1.02);
    opacity: 1;
  }
  80% {
    transform: translateY(4px) scale(0.995);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* exit: slightly fade and move down a bit */
@keyframes springDown {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(12px) scale(0.99);
    opacity: 0;
  }
}

/* apply when opening */
.spring-up {
  animation: springUp 520ms cubic-bezier(0.22, 1, 0.36, 1) both;
}

/* apply when closing */
.spring-down {
  animation: springDown 220ms ease-in both;
}
