@import "tailwindcss";

:root {
  --background: #ffffff;

  --primary-dark: #0D1218;
  --primary-dark-70: #565A5E;
  --primary-dark-20: #CFD0D1;
  --primary-light: #F7FAFF;
  --new-bg: #E67224;
  --save-bg: #5641F3;
  --menu-bg: #F7FAFF;
}


body {
  color: var(--foreground);
}

@theme {
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-70: var(--primary-dark-70);
  --color-primary-dark-20: var(--primary-dark-20);
  --color-new-bg: var(--new-bg);
  --color-save-bg: var(--save-bg);
  --color-menu-bg: var(--menu-bg);
  --font-sans: 'Hanken Grotesk', sans-serif;
}

.badge-orange {
  background-color: #E67224;
  box-shadow: 
    inset 0 -4px 4px rgba(255, 255, 255, 0.23),
    0 4px 8.6px rgba(255, 255, 255, 0.07);
}

.badge-blue {
  background-color: #5641F3;
  box-shadow: 
    inset 0 -4px 4px rgba(255, 255, 255, 0.23),
    0 4px 8.6px rgba(86, 65, 243, 0.07);
}

.button-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.menu-shadow {
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
}


body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-y: scroll; /* Ensures layout consistency */

}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.products-menu {
  transform-origin: top;
}

.product-cta {
  background-color: rgba(38, 91, 209, 0.19);
}

.blog-preview {
  background-color: rgba(117, 49, 249, 0.2);
}

.menu-text {
  color: rgba(34, 34, 34, 0.7);
}

/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* scrollbar thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* scrollbar thumb */
  border-radius: 9999px; /* rounded scrollbar */
}
